body {
    background-image :url(img/háttér.jpg); 
    background-repeat: no-repeat;
    background-size:cover;

    margin: 0%;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration:double;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: white;}
  
  ul.topnav li a.active {background-color: brown;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

  .nev h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: overline;
    color: color-mix(in srgb, cyan 50%, aquamarine 50%);
    text-shadow: 0px 0px 3px rgb(13, 105, 133) ;

  }
  .nev h3{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: color-mix(in srgb, cyan 50%, aquamarine 50%);
    text-shadow: 0px 0px 3px rgb(13, 105, 133) ;

  }

 
  #adat {
    max-height: 88vh; /* Maximum magasság a viewport magasság 80%-a */
    overflow-y: auto; /* Görgetősáv megjelenítése, ha a tartalom túl nagy */
  }
  /* Görgetősáv átlátszóvá tétele */
::-webkit-scrollbar {
  width: 12px; /* A görgetősáv szélessége */
  background-color: transparent; /* A görgetősáv háttérszíne átlátszó */
}

/* A görgetősáv csúszka átlátszóvá tétele */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* A görgetősáv csúszka színe átlátszó fekete (50%-os átlátszóság) */
  border-radius: 6px; /* A görgetősáv csúszka kerekítése */
}

/* A görgetősáv csúszka átlátszóvá tétele aktív állapotban */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8); /* A görgetősáv csúszka színe aktív állapotban (80%-os átlátszóság) */
}
