body {
    background-image :url(img/háttér\ \(2\).jpg); 
    background-repeat: no-repeat;
    background-size:cover;
    justify-content: center;
    align-items: center;
    display:flexbox;
   
    margin: 0%;
   



   
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration:double;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: white;}
  
  ul.topnav li a.active {background-color: brown;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

  .nev h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: overline;
    color: color-mix(in srgb, cyan 50%, aquamarine 50%);
    text-shadow: 0px 0px 3px rgb(13, 105, 133) ;

  }
  .nev h3{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: color-mix(in srgb, cyan 50%, aquamarine 50%);
    text-shadow: 0px 0px 3px rgb(13, 105, 133) ;

  }

  .form-container {
    width: 100%;
    max-width: 600px;
    padding: 4rem;
    background-color:burlywood;
    border-radius: 10px;
    margin: auto;
  }
  .form-group {
    margin-bottom: 1.8rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: color-mix(in srgb, cyan 50%, aquamarine 50%); 
  }
  input {
    width: 100%;
    padding: 0.85rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.1rem;
  }
  button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #61dafb;
    color: #282c34;
    font-size: 1.2rem;
    cursor: pointer;
  }
  button:hover {
    background-color: #21a1f1;
  }
